:root {
    --ff-primary: 'Plus Jakarta Sans', sans-serif;
    --ff-secondary: 'Ariel', sans-serif;

    /* --clr-gold: #e2c255; */

    --clr-gold: #dfb85d;
    --clr-gold-700: #BE9552;
    --clr-gold-400: #F5D4A3;
    --clr-gold-300: #FBEEDA;

    --clr-green: #0C7C59;
    --clr-cream: #F5F5F5;
    --clr-dark: #242424;


    --section-padding: 60px 0;

    --fs-14: 14px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-30: clamp(20px, 5vw, 30px);
    --fs-35: clamp(22px, 5vw, 35px);
    --fs-40: clamp(30px, 5vw, 40px);
    --fs-45: clamp(28px, 5vw, 45px);
    --fs-50: clamp(35px, 5vw, 50px);
    --fs-55: clamp(38px, 5vw, 55px);
    --fs-60: clamp(40px, 5vw, 60px);


}