:root {
    --ff-primary: 'Plus Jakarta Sans', sans-serif;
    --ff-secondary: 'Ariel', sans-serif;

    /* --clr-gold: #e2c255; */
    
    --clr-gold: #dfb85d;
    --clr-gold-700: #BE9552;

    --clr-green: #0C7C59;
    --clr-cream: #F5F5F5;
    --clr-dark: #242424;

    
    --section-padding: 100px 0;

    --fs-14: 14px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-30: 30px;
    --fs-35: 35px;
    --fs-45: 45px;
    --fs-40: 40px;
    --fs-50: 50px;
    --fs-55: 55px;
    --fs-60: 60px;
}
